In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("data\hepatitis_csv.csv")

In [16]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    object
 2   steroid          154 non-null    object
 3   antivirals       155 non-null    bool
 4   fatigue          154 non-null    object
 5   malaise          154 non-null    object
 6   anorexia         154 non-null    object
 7   liver_big        145 non-null    object
 8   liver_firm       144 non-null    object
 9   spleen_palpable  150 non-null    object
 10  spiders          150 non-null    object
 11  ascites          150 non-null    object
 12  varices          150 non-null    object
 13  bilirubin        149 non-null    float64
 14  alk_phosphate    126 non-null    float64
 15  sgot             151 non-null    float64
 16  albumin          139 non-null    float64
 17  protime          88 non-null     float64
 18  histology        155 non-null    bool
 19  class            155 non-null    object
dtypes: bool(2), float64(5), int64(1), object(12)
memory usage: 22.2+ KB

In [18]:
df.drop('protime', axis=1, inplace = True)

In [19]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,True,die

In [20]:
df_Continous = df._get_numeric_data()
df_Continous = df_Continous.drop(labels = ['age', 'antivirals', 'histology'], axis = 1)
cols_nums = set(df_Continous.columns)
df_cols = set(df.columns)
cols_cat = df_cols.difference(cols_nums)

In [21]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [22]:
def Encoder(df, cols_cat):    
    encoder = LabelEncoder()
    cols_cat.remove('age')
    for i in cols_cat:
        df[i] = encoder.fit_transform(df[i])

In [23]:
Encoder(df, cols_cat)

In [24]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,1,0,0,0,0,0,0,0,0,0,0,0,1.0,85.0,18.0,4.0,0,1
1,50,0,0,0,1,0,0,0,0,0,0,0,0,0.9,135.0,42.0,3.5,0,1
2,78,0,1,0,1,0,0,1,0,0,0,0,0,0.7,96.0,32.0,4.0,0,1
3,31,0,2,1,0,0,0,1,0,0,0,0,0,0.7,46.0,52.0,4.0,0,1
4,34,0,1,0,0,0,0,1,0,0,0,0,0,1.0,NaN,200.0,4.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,0,1,1,1,1,0,0,1,1,1,7.6,NaN,242.0,3.3,1,0
151,44,0,1,0,1,0,0,1,1,0,0,0,0,0.9,126.0,142.0,4.3,1,1
152,61,0,0,0,1,1,0,0,1,0,1,0,0,0.8,75.0,20.0,4.1,1,1
153,53,1,0,0,1,0,0,1,0,1,1,0,1,1.5,81.0,19.0,4.1,1,1
154,43,0,1,0,1,0,0,1,0,1,1,1,0,1.2,100.0,19.0,3.1,1,0

In [28]:
cols_nums

{'albumin', 'alk_phosphate', 'bilirubin', 'sgot'}

In [34]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class
0,30,1,0,0,0,0,0,0,0,0,0,0,0,1.0,85.0,18.0,4.0,0,1
1,50,0,0,0,1,0,0,0,0,0,0,0,0,0.9,135.0,42.0,3.5,0,1
2,78,0,1,0,1,0,0,1,0,0,0,0,0,0.7,96.0,32.0,4.0,0,1
3,31,0,2,1,0,0,0,1,0,0,0,0,0,0.7,46.0,52.0,4.0,0,1
4,34,0,1,0,0,0,0,1,0,0,0,0,0,1.0,NaN,200.0,4.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,0,1,0,1,1,1,1,0,0,1,1,1,7.6,NaN,242.0,3.3,1,0
151,44,0,1,0,1,0,0,1,1,0,0,0,0,0.9,126.0,142.0,4.3,1,1
152,61,0,0,0,1,1,0,0,1,0,1,0,0,0.8,75.0,20.0,4.1,1,1
153,53,1,0,0,1,0,0,1,0,1,1,0,1,1.5,81.0,19.0,4.1,1,1
154,43,0,1,0,1,0,0,1,0,1,1,1,0,1.2,100.0,19.0,3.1,1,0

In [37]:
imputer = SimpleImputer(missing_values= np.nan, strategy='mean')
df[] = imputer.fit_transform(df[cols_nums])

C:\Users\tabis\AppData\Local\Temp\ipykernel_30956\2171993577.py:2: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df = imputer.fit_transform(df[cols_nums])

In [29]:
def Imputer(df, cols_nums):

In [30]:
Imputer(df, cols_nums)

alk_phosphate

ValueError: Expected 2D array, got 1D array instead:
array=[ 85. 135.  96.  46.  nan  95.  nan  nan  nan  nan  78.  59.  81.  57.
  nan  72. 102.  62.  53.  70.  48. 133.  85.  60.  45.  95.  85. 175.
  78.  78. 280.  nan  81. 135.  58.  67. 194. 150.  85. 180.  75.  56.
  46.  71.  nan  74.  80. 191.  85. 125.  85.  85. 110.  85.  50.  92.
  nan  52.  80.  85.  26. 102. 215. 164. 103.  nan  62.  nan  34.  68.
  82. 127.  76.  nan 100.  55. 167.  30.  72.  85.  nan  62. 100. 179.
 141.  44. 135. 165. 118.  76. 230.  nan  nan  nan 107.  40. 147. 114.
  84.  nan 123.  nan 168. 215.  86.  nan 138.  nan 155.  63. 256.  62.
  85.  81. 141. 119.  nan 139.  nan  85.  90. 160.  85.  nan  85.  70.
  nan 155.  85.  82.  85.  nan 158. 115. 243. 181.  nan 130. 166.  85.
 295. 120.  nan  85.  nan  75.  65. 109.  89. 120.  nan 126.  75.  81.
 100.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.